obj/
bin/

# Encryption
*.enc


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
!Custom.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE and temp files
.vscode/
*~
*.dSYM

# Report Files
report/
